extends layout 

block content
    section.content-header
        h1
            | Investment Portfolios
        
    // Main content
    section.content  
        .row
            .col-md-12
                .box
                    .box-header.with-border
                        h3.box-title Pending Investment Request
                        a.btn.btn-danger.btn.lg.pull-right(href="/admin/portfolio/new")
                            .fa.fa-plus 
                            |  New Portfolio 
                    .box-body
                        if investments.length
                            table.table.table-striped
                                thead
                                    tr
                                        th Investment
                                        th Country
                                        th Unit Cost
                                        th Period
                                        th Units 
                                        th ROI
                                        th Investors / Sold Units 
                                        th Remaining Units
                                        th Action
                                tbody
                                    each inv in investments 
                                        tr 
                                            td= inv.investment_name 
                                            td= inv.country 
                                            td= inv.unit_cost 
                                            td= inv.period 
                                            td= inv.units 
                                            td= inv.roi + '%'
                                            td= inv.investor_count + ' / ' + inv.sold_unit_count
                                            td= inv.units - inv.sold_unit_count   
                                            td
                                                a(href=`/admin/edit-portfolio/${inv.id}` title="Edit Investment" data-toggle="tooltip")
                                                    i.fa.fa-edit.fa-lg(style="margin-right: 7px")
                                                a.delete(title="Delete Investment" data-toggle="tooltip")
                                                    i.fa.fa-trash.fa-lg

block scriptBlock 
    script.
        $(document).ready(function() {
            $(".delete").click(function(e) {
                e.preventDefault();

                if (confirm("Are you sure you want to delete this investment portfolio?")) {
                    const id = $(this).parents('tr').attr('id');
                    $.post('/update-investment', { id, data: { deleted: true }}, function(d) {
                        if (d.status === true) {
                            location.reload();
                        }
                    });
                }
            });
        }); 


