#mixcontent.row
    each inv in investments
        - const url_path = `/projects/${inv.id}/${inv.investment_name.split(' ').join('-')}`
        - const photo = inv.photo_url || inv.InvestmentCategory.photo_url;
        .col-lg-4.mix.col-sm-6
            a.xs-image-popup(data-effect='mfp-zoom-in' href=`#popup_${inv.id}`)
                .single-recent-work
                    .project-photo-wrapper
                        .project-photo(style=`background-image:url(/${photo});`)
                            p Click to view
                    .recet-work-footer
                        i.icon-Our_service_3
                        h3= inv.investment_name
            .container.xs-gallery-popup-item.mfp-hide(id=`popup_${inv.id}`)
                .row
                    .col-lg-5.xs-padding-0
                        .xs-popup-img
                            img(src=`/${inv.InvestmentCategory.photo_url}` alt='')
                    .col-lg-7
                        .xs-popup-content
                            h2.hidden-title Project info
                            h3= inv.investment_name
                            .row
                                .col-lg-5
                                    ul.xs-popup-left-content
                                        li
                                            i.lnr.lnr-tag
                                            label Project Category
                                            span #{inv.InvestmentCategory.category_name}
                                        li
                                            i.lnr.lnr-star 
                                            label Unit Cost
                                            span  ₦#{view.formatCurrency(inv.unit_cost)} 
                                        li
                                            i.lnr.lnr-hourglass 
                                            label Project Duration
                                            span #{inv.period} Months
                                        li 
                                            i.lnr.lnr-pie-chart
                                            label Units Left 
                                            span #{inv.avaliable_units} units
                                        li 
                                            i.lnr.lnr-chart-bars
                                            label ROI 
                                            span #{inv.roi}%	
                                        li
                                            i.lnr.lnr-map-marker
                                            label Location
                                            span
                                                | #{inv.country},

                                .col-lg-7
                                    .xs-popup-right-content
                                        p= inv.InvestmentCategory.about
                                        a.xs-btn(href=`${url_path}`) READ MORE