extends layout 

block content 
    - const photo = investment.photo_url || investment.InvestmentCategory.photo_url;
    section.banner-inner-sec(style=`background-image:url(/${photo})`)
        .banner-table
            .banner-table-cell
                .container
                    .banner-inner-content
                        h2.banner-inner-title #{investment.InvestmentCategory.category_name}

    section.xs-blog-single-sec.section-padding
        .container
            .row
                .col-lg-6.col-xs-12
                    h2.xs-blog-title.mb-4(style="margin-top: -51px") #{investment.investment_name}
                    .blog-meta.mb-2
                        .row 
                            .col-md-6
                                span.text-green #[strong UNIT COST] 
                                br/
                                h4 ₦#{view.formatCurrency(investment.unit_cost)}
                            .col-md-6.col-xs-12
                                span.text-green #[strong DURATION] 
                                br
                                h4 #{investment.period} Months

                        .row.mt-2 
                            .col-md-6.col-xs-12
                                span.text-green #[strong FARM LOCATION]
                                br
                                h4 #{investment.country}
                            .col-md-6.col-xs-12
                                span.text-green #[strong REMAINING UNITS]
                                h4 #{investment.avaliable_units}

                        hr
                        span.text-green #[strong RETURN ON INVESTMENT] 
                        br/ 
                        h3 #{investment.roi}%

                    .row.mt-5.pb-2.mb-4
                        .col-6
                            .input-group
                                span.input-group-text(style="border-top-right-radius: 0; border-bottom-right-radius: 0") Units
                                input.form-control.input-lg(type="number" id="units" value="1" min="1" max=`${investment.avaliable_units}` style="padding: 0.685rem .75rem")
                        .col-6   
                            if user   
                                button.btn.btn-lg.btn-success(type="button" onClick=`makePayment('${user.email}', '${user.phone}', '${user.fullname}', ${investment.unit_cost}, ${investment.id})`) Invest Now  
                            else
                                button.btn.btn-lg.btn-success(type="button" data-toggle="modal" data-target="#loginModal") Invest Now

                .col-lg-6.col-xs-12
                    .blog-content-item.single-blog-details
                        .single-blog-item.pl-4
                            h3.xs-blog-title.text-green Description
                            p= investment.InvestmentCategory.about 
                            h3.xs-blog-title Benefits
                            ul.benefits 
                                each benefit in investment.InvestmentCategory.benefits 
                                    li= benefit
                            h3.xs-blog-title Our Model
                            p= investment.InvestmentCategory.model

    section.recent-work-sec.section-padding.section-bg
        .container
            .row 
                .col-md-12.text-center
                    .section-title-item
                        h3.section-title.mb-5
                            | SIMILAR PRODUCTS
            include includes/portfolios.pug


    #loginModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog
            .modal-content
                form#form-login(action="/login" method="post")
                    .modal-header
                        h5#exampleModalLabel.modal-title Login to Continue
                        button.btn-close(type='button' data-dismiss='modal' aria-label='Close')
                    .modal-body
                        .mb-3 
                            label Email
                            input.form-control.form-control-lg(type="email" name="email" placeholder="Email" aria-label="Email")
                        .mb-3
                            label Password
                            input.form-control.form-control-lg(type="password" name="password" placeholder="Password" aria-label="Password", required=true)
                            .form-group.form-check 
                                input.form-check-input#checkout-remember-me(type="checkbox" name="remember_me")
                                label.form-check-label(for="checkout-remember-me") Remember me 

                            p Don't have an account yet? 
                                a(href="/signup") Sign Up Now
                    .modal-footer
                        button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                        button.btn.btn-success(type='submit') Login 

block scriptBlock 
    script(src="https://checkout.flutterwave.com/v3.js")

    script. 
        $(document).ready(function() {
            $("#form-login").submit(function(e) {
                e.preventDefault();

                $.post('/login?json=true', $(this).serialize(), function(d) {
                    if (d.status == true) {
                        location.reload();
                    }
                });
            });
        });

        function makePayment(email, phone_number, name, unit_cost, investmentId) {
            const units = $("#units").val();
            const amount = parseInt(units, 10) * unit_cost;
            if (!amount) {
                alert("Enter topup amount to continue");
                return;
            }

            $.post('/invest', { investmentId, units }, function(d) {
                if (d.status.trim() === 'success') {
                    const tx_ref = `TNX_${d.userInvestment.id}`;

                    FlutterwaveCheckout({
                        public_key: "FLWPUBK-dd07cfe415221cc77bb2ae2f4f546db7-X",
                        amount,
                        tx_ref,
                        currency: "NGN",
                        country: "NG",
                        customer: {
                            email,
                            phone_number,
                            name,
                        },
                        callback: function (payment_data) { // specified callback function
                            const { amount, status, flw_ref, transaction_id } = payment_data;

                            $.post('/save-payment', { amount, status, flw_ref, transaction_id, units, investmentId }, function(d) {
                                if (d.status.trim() == 'success') {
                                    location.replace('/users/dashboard');
                                    return;
                                }
                                alert('Payment not successful')
                            });
                        },
                        customizations: {
                            title: "Make Payment",
                            description: "Make payment to complete your investment process",
                            logo: "https://investnfarm.com/images/logo.png",
                        },
                    });
                } else {
                    alert('Error: Cannot complete investment at this time')
                }
            });
        }
