extends layout 

block styleBlock 
    link(rel='stylesheet', href='/stylesheets/owl.carousel.min.css')
    link(rel='stylesheet', href='/stylesheets/owl.theme.default.min.css')

block content
    section.content-header
        h1 Dashboard
        
    // Main content
    section.content
        .row
            .col-md-12
                .box
                    .box-header.with-border
                        h3.box-title Pending Investment Request
                    .box-body
                        .owl-carousel 
                            each inv in investments
                                a(href=`/users/portfolio?active=${inv.id}`)
                                    .item(style=`background-image: url(/${inv.photo_url})` data-)
                                        p.text-center= inv.investment_name  

                        .row.text-center(style="margin-top: 40px") 
                            each inv in userInvestments 
                                .col-md-4 
                                    - const days = +inv.period * 7
                                    - const days_diff = Math.round((Date.now() - new Date(inv.UserInvestments.createdAt).getTime()) / (1000 * 3600 * 24))
                                    - const percentage = Math.round((days_diff / 100) * days)
                                    input.dial(type="text" value=`${percentage}` data-min="0" data-max="100")
                                    p= inv.investment_name
                        
                        .row 
                            .col-md-12
                                h3 Your Portfolio At a Glance
                                table.table.table-striped(style="margin-top: 15px")
                                    thead
                                        tr
                                            th Date
                                            th Product
                                            th Units
                                            th Amount Invested
                                            th Duration
                                            th ROI
                                            th Details
                                    tbody
                                        each invt in userInvestments 
                                            tr 
                                                td= view.formatDate(invt.UserInvestments.createdAt)
                                                td= invt.investment_name 
                                                td= invt.UserInvestments.units
                                                td= '₦' + view.formatCurrency(invt.unit_cost * invt.UserInvestments.units) 
                                                td= invt.period + ' Weeks'
                                                td= '₦' + view.formatCurrency((invt.unit_cost * invt.UserInvestments.units) + (invt.unit_cost * invt.UserInvestments.units * (invt.roi / 100)))
                                                td
                                                    a(href="/investment") View Details         



block scriptBlock
    script(src="/javascripts/owl.carousel.min.js")  
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Knob/1.2.13/jquery.knob.min.js")

    script. 
        $(document).ready(function(){
            $('.owl-carousel').owlCarousel({
                loop:true,
                margin:13,
                responsiveClass:true,
                nav: true,
                responsive:{
                    0:{
                        items:1,
                        nav:true
                    },
                    600:{
                        items:3,
                        nav:false
                    },
                    1000:{
                        items:4,
                        nav:true,
                    }
                }
            });

            $(".dial").knob();
        });