extends layout 

block styleBlock 
    link(rel='stylesheet' href='/stylesheets/owl.carousel.min.css')
    link(rel='stylesheet' href='/stylesheets/owl.theme.default.min.css')

block content
    section.content-header
        h1 Dashboard

    // Main content
    section.content
        .row
            .col-md-12
                .box
                    .box-header.with-border
                        h3.box-title Your Portfolio At a Glance

                        .row 
                            .col-md-12
                                h3 
                                table.table.table-striped(style="margin-top: 15px")
                                    thead
                                        tr
                                            th Date
                                            th Product
                                            th Units
                                            th Amount Invested
                                            th Duration
                                            th ROI
                                            //- th Details
                                    tbody
                                        each invt in userInvestments 
                                            - const photo = invt.photo_url || invt.InvestmentCategory.photo_url;
                                            tr 
                                                td= view.formatDate(invt.UserInvestments.createdAt)
                                                td #[strong #{invt.investment_name}]
                                                    br/ 
                                                    img(src=`/${photo}` style="width: 200px") 
                                                td= invt.UserInvestments.units
                                                td= '₦' + view.formatCurrency(invt.unit_cost * invt.UserInvestments.units) 
                                                td= invt.period + ' Months'
                                                td= '₦' + view.formatCurrency((invt.unit_cost * invt.UserInvestments.units) + (invt.unit_cost * invt.UserInvestments.units * (invt.roi / 100)))
                                                //- td
                                                //-     a(href="/investment") View Details         



block scriptBlock
    script(src="/javascripts/owl.carousel.min.js")  
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Knob/1.2.13/jquery.knob.min.js")

    script. 
        $(document).ready(function(){
            $('.owl-carousel').owlCarousel({
                loop:true,
                margin:13,
                responsiveClass:true,
                nav: true,
                responsive:{
                    0:{
                        items:1,
                        nav:true
                    },
                    600:{
                        items:3,
                        nav:false
                    },
                    1000:{
                        items:4,
                        nav:true,
                    }
                }
            });

            $(".dial").knob();
        });