extends layout 

block styleBlock 
    link(rel='stylesheet', href='/stylesheets/owl.carousel.min.css')
    link(rel='stylesheet', href='/stylesheets/owl.theme.default.min.css')

block content
    section.content-header
        h1 Dashboard
        
    // Main content
    section.content
        .row
            .col-md-12
                .box
                    .box-header.with-border
                        h3.box-title Pending Investment Request
                    .box-body
                        .owl-carousel 
                            each inv in investments
                                .item= inv.investment_name 
                        
                        .row 
                            .col-md-12
                                table.table.table-striped(style="margin-top: 40px")
                                    thead
                                        tr
                                            th Date
                                            th Product
                                            th Amount Invested
                                            th Duration
                                            th ROI
                                            th Details
                                    tbody
                                        each invt in userInvestments 
                                            tr 
                                                td= view.formatDate(invt.UserInvestments.createdAt)
                                                td= invt.investment_name 
                                                td= '₦' + view.formatCurrency(invt.unit_cost * invt.UserInvestments.units) 
                                                td= invt.period + ' Weeks'
                                                td= '₦' + view.formatCurrency((invt.unit_cost * invt.UserInvestments.units) + (invt.unit_cost * invt.UserInvestments.units * (invt.roi / 100)))
                                                td
                                                    a(href="/investment") View Details         



block scriptBlock
    script(src="/javascripts/owl.carousel.min.js")  

    script. 
        $(document).ready(function(){
            $('.owl-carousel').owlCarousel({
                loop:true,
                margin:13,
                responsiveClass:true,
                nav: true,
                responsive:{
                    0:{
                        items:1,
                        nav:true
                    },
                    600:{
                        items:3,
                        nav:false
                    },
                    1000:{
                        items:4,
                        nav:true,
                    }
                }
            })
        });