extends layout 

block styleBlock 
    link(rel='stylesheet' href='/style/owl.carousel.min.css')
    link(rel='stylesheet' href='/style/owl.theme.default.min.css')

block content
    section.content-header
        h1
            | Portfolio

    // Main content
    section.content
        .row
            .col-md-12
                .box
                    .box-header
                        h3.box-title Avaliable Projects
                    .box-body
                        .owl-carousel 
                            each inv in investments
                                - const url_path = inv.investment_name.split(' ').join('-')
                                - const photo = inv.photo_url || inv.InvestmentCategory.photo_url;
                                a(href=`/projects/${inv.id}/${url_path}#loc`)
                                    .item-wrapprt
                                        .item(style=`background-image: url(/${photo})` data-)
                                            .item-label
                                                p.text-center= inv.investment_name

                        .row(style="margin-top: 20px")
                            .col-md-12
                                h3 Your Portfolio At a Glance
                                table.table.table-striped(style="margin-top: 15px")
                                    thead
                                        tr
                                            th Date
                                            th Product
                                            th Units
                                            th Amount Invested
                                            th Duration
                                            th ROI
                                            //- th Details
                                    tbody
                                        each invt in userInvestments 
                                            tr 
                                                td= view.formatDate(invt.UserInvestments.createdAt)
                                                td= invt.investment_name 
                                                td= invt.UserInvestments.units
                                                td= '₦' + view.formatCurrency(invt.unit_cost * invt.UserInvestments.units) 
                                                td= invt.period + ' Months'
                                                td= '₦' + view.formatCurrency((invt.unit_cost * invt.UserInvestments.units) + (invt.unit_cost * invt.UserInvestments.units * (invt.roi / 100)))
                                                //- td
                                                //-     a(href="/investment") View Details         

block scriptBlock
    script(src="/javascripts/owl.carousel.min.js")  

    script. 
        $(document).ready(function(){
            $('.owl-carousel').owlCarousel({
                loop:true,
                margin:16,
                responsiveClass:true,
                autoplay: true,
                autoplayHoverPause: true,
                responsive:{
                    0:{
                        items:1,
                        nav:true
                    },
                    600:{
                        items:3,
                        nav:false
                    },
                    1000:{
                        items:4,
                        nav: false
                    }
                }
            })
        });                                    